---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Pokemon Koil">
  <div class="webgl" data-el="webgl"><canvas></canvas></div>
</Layout>

<script>
  import { App } from "../scripts/app.js";
  App();
</script>

<style lang="scss">
  .webgl {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
</style>
